extends ../layout


block content

  script.
    function handleDelete(id){
      if(confirm('Are you sure you want to delete this user?')){
        const apiUrl = `http://localhost:3001/api/v1/users/${id}`;
        fetch(apiUrl,{method:'DELETE'})
        .then((response) => {
          if(response.ok) window.location.href='/api/v1/users/'
        })
      }
    }

  h1 All Users

  // Iterate through the users and display them
  each user in users
    .user-card
      // Create a link to the individual user using the user's ID
      a(href=`/api/v1/users/${user.id}`)
        h2= user.username
      button(type="button", onclick=`handleDelete(${user.id})`) Delete User
      

  // Create a new user
  br
  a(href="/api/v1/users/create") Create New User