extends ../layout

block content

    h1 Update: #{user.username}
    form(action="" id="newUserForm" method="POST")
        input(type='hidden' name='userId' value=`${user.id}`)
        label(for="password") Password:
        input(type="password", name="password", required)
        br
        label(for="repeatPassword") Repeat Password:
        input(type="password", name="repeatPassword", required)
        br
        label(for="email") Email:
        input(type="email", name="email", required)
        br
        button(type="submit") Update User

    script.
        let newUserForm = document.getElementById("newUserForm");
        newUserForm.addEventListener("submit", async (e) => {
            e.preventDefault();
            // handle submit
            const id = e.target.userId.value
            const password = e.target.password.value
            const repeatPassword = e.target.repeatPassword.value
            const email = e.target.email.value

            data = {
                password : password,
                repeatPassword : repeatPassword,
                email : email
            }

            const apiUrl = `http://localhost:3001/api/v1/users/${id}`;
            await fetch(apiUrl, {
                method: 'PATCH',
                body: JSON.stringify(data),
                headers:{
                    'Content-Type': 'application/json',
                    'Accept':'text/html'
                }
            })
            .then((response) => {
                if (response.ok) {
                window.location.href = `http://localhost:3001/api/v1/users/${id}`;
                }
            })
            .catch((error) => console.log(error));
        });